/* Changes background color to a light gray */
body {
    background: rgb(142, 145, 161);
}

/* Moves Nav links to right while keeping personal name on left */
#main-nav {
    justify-content: space-between;
    display: flex;
}

/* Stops the navbar's collapse from growing and refusing to move */
.navbar-collapse {
    flex-grow: unset;
}

/* Changes container's color to white and adds padding */
.square {
    background: white;
    padding: 5px;
}

/* Changes all header colors to a blue */
.heading {
    color: rgb(0, 119, 255);
}

/* Only for index file image */
.img-1 {
    float: left;
    padding: 5px;
}

/* Only for images on portfolio.html */
.portfolio-pics {
    float: left;
    padding: 10px;
}

/* For all images on all files */
.responsive {
    max-width: 100%;
    height: auto;
  }